---
import { siteConfig } from '../lib/site';
---

<footer class="site-footer">
	<div>
		<p>&copy; {new Date().getFullYear()} {siteConfig.author}</p>
		<p>愿路上、餐桌边、房间里和朋友之间的片刻，都有地方慢慢安放。</p>
	</div>
</footer>
